.postSingle{
    margin-bottom: 20px !important; 
}


a.readmore {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 3px 7px;
  }
  .readmore {
  }
  a.readmore:hover {
    border: 1px solid blueviolet;
    color: black;
    transition: 0.3s;
  }